PORT=8000
MONGODB_URI=mongodb+srv://your-password@cluster0.267jx6k.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=backend
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=backendCode
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=my_cloud_name
cLOUDINARY_API_KEY=my_key
cLOUDINARY_API_SECRET=my_secret